.about-section{
  padding: 90px 0;
  height: 42.825vw;
  background: url("../images/img-12.jpg") no-repeat 0 100%;
  background-size: 100% 31.478vw;
  .about-block{
    width: 44.557vw;
    padding-left: 12.811vw;
    font-size: 17px;
    color: rgba(0,0,0, 0.8);
  }
  .header-wrapper{
    margin-bottom: 45px;
  }
  p{margin-bottom: 45px;}
}