@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}
}

@mixin placeholder-2 {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}
}

@include placeholder{
  font-size: 17px;
  color: rgba(0,0,0, 0.5);
}

@include placeholder-2{
  font-size: 17px;
  color: #fff;
}

.select-simple{
  cursor: pointer;
  padding: 10px 36px 10px 12px;
  position: relative;
  //transition: all 0.5s;
  outline: none;
  &:after{
    content: "\e902";
    position: absolute;
    right: 10px;
    top: 17px;
    font-family: 'moon';
    font-size: 10px;
    color: #000;
  }
  &.open{
    background-color: #eff0f1;
    &:after{
      content: "\e903";
      position: absolute;
      right: 10px;
      top: 17px;
      font-family: 'moon';
      font-size: 10px;
      color: #000;
    }
    .list{
      display: block;
    }
  }
  &:hover{
    &:after{
      color: rgba(0,0,0, 0.8);
    }
  }
  .list{
    position: absolute;
    top: 100%;
    left: 0;
    margin: 0;
    padding: 0 36px 10px 12px;
    list-style: none;
    display: none;
    background-color: #eff0f1;
    z-index: 5;
    li:hover{
      cursor: pointer;
      color: rgba(0,0,0, 0.8);
    }
  }
}

.checkbox-item{
  input[type="checkbox"]{
    display: none;
    &:checked{
      + label{
        &:after{
          opacity: 1;
          transform: scale(1);
        }
        &:before{border-color: #000;}
      }
    }
  }
  label{
    position: relative;
    padding-left: 25px;
    font-size: 18px;
    cursor: pointer;
    &:hover{
      &:before{border-color: #000;}
    }
    &:before{
      content: '';
      position: absolute;
      top: 3px;
      left: 0;
      width: 15px;
      height: 15px;
      border: 1px solid #a7a8a8;
      border-radius: 4px;
      transition: all 0.5s;
    }
    &:after{
      content: '';
      position: absolute;
      top: 8px;
      left: 5px;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background-color: #000;
      transition: all 0.5s;
      opacity: 0;
    }
  }
}

.filter-select{
  padding: 10px 70px 10px 15px;
  position: relative;
  outline: none;
  cursor: pointer;
  &:after{
    content: '\e902';
    position: absolute;
    top: 14px;
    right: 50px;
    font-family: 'moon';
    font-size: 12px;
    color: #000;
  }
  &.open{
    background-color: #eff0f1;
    &:after{
      content: "\e903";
      position: absolute;
      right: 50px;
      top: 14px;
      font-family: 'moon';
      font-size: 12px;
      color: #000;
    }
    .list{
      display: block;
    }
  }
  &:hover{
    &:after{
      color: rgba(0,0,0, 0.8);
    }
  }
  .list{
    position: absolute;
    top: 100%;
    left: 0;
    margin: 0;
    width: 143px;
    padding: 0 15px 10px;
    list-style: none;
    display: none;
    background-color: #eff0f1;
    z-index: 5;
    li{
      margin-bottom: 26px;
      &:first-child{
        padding-top: 16px;
      }
      &:last-child{margin-bottom: 0;}
      &:hover{
        cursor: pointer;
        color: rgba(0,0,0, 0.8);
      }
    }
  }
}

.filter-row-form{
  display: flex;
  align-items: center;
  width: 80%;
}

.authorization-form{
  padding: 40px 0 70px;
  background-color: #eff0f1;
  .form-wrap{
    max-width: 423px;
    margin: 0 auto;
    form{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      >*{
        margin-bottom: 24px;
      }
      input{
        font-size: 17px;
        color: #000;
        background-color: transparent;
        border: 0;
      }
      .input-wrap{
        width: 100%;
        border-bottom: 1px solid #a7a8a8;
        position: relative;
        margin-bottom: 35px;
        padding-bottom: 18px;
        &:before{
          content: attr(data-placeholder);
          position: absolute;
          left: 0;
          top: 30%;
          font-size: 17px;
          color: rgba(0,0,0, 0.8);
          transform: translateY(-50%);
        }
        &.error{
          .error-message{
            opacity: 1;
          }
        }
      }
      .error-message{
        opacity: 0;
        position: absolute;
        bottom: -20px;
        right: 0;
        font-size: 12px;
        color: #d50000;
        transition: all 0.5s;
      }
    }
  }
}