.primary-section{
  &.payment-page{
    padding-bottom: 85px;
  }
}
.summary-payment-section{
  padding: 80px 0 45px;
  background-color: #fff;
  position: relative;
  &:before{
    content: '';
    position: absolute;
    background: #000 url("../images/icon-wallet.png") no-repeat 50% 50%;
    width: 28px;
    height: 26px;
    background-size: 28px 26px;
    padding: 22px;
    top: -35px;
    left: 50%;
    box-shadow: 0 0 0 17px #eff0f1;
    transform: translateX(-50%);
  }
  .summary-payment-list{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    li{
      display: flex;
      flex-direction: column;
      margin-right: 15%;
      &:last-child{margin-right: 0;}
    }
    .label-3{
      font-size: 20px;
      line-height: 1;
      color: #585858;
      margin-bottom: 16px;
    }
    .value{
      font-size: 30px;
      line-height: 1;
      font-weight: 100;
      color: #000;
    }
  }
}

.payment-methods-section{
  background-color: #eff0f1;
  padding: 65px 0;
  .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 55px 0;
    border-bottom: 1px solid #ddddde;
    &:first-child{
      padding-top: 0;
    }
    &:last-child{
      padding-bottom: 0;
      border-bottom: 0;
    }
    .checkbox-item{
      display: flex;
      align-items: center;
      label{
        padding-left: 35px;
        &:before{
          top: 44%;
          transform: translateY(-50%);
        }
      }
    }
  }
}
.payment-list{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  li{
    margin-right: 40px;
    &:last-child{
      margin-right: 0;
    }
    img{
      width: 100%;
    }
  }
}

.tos-section{
  background-color: #000;
  padding: 50px 0;
  color: #fff;
  a{
    color: #fff;
  }
  .checkbox-item{
    margin-bottom: 35px;
    display: flex;
    label{
      padding-left: 45px;
      &:before{
        border-color: #a7a8a8;
      }
      &:after{
        background-color: #fff;
      }
      &:hover{
        &:before{
          border-color: #fff;
        }
      }
    }
    input[type="checkbox"]:checked + label:before{
      border-color: #fff;
    }
  }
  .btn{
    padding:25px 45px;
    border: 1px solid #b2b2b2 !important;
  }
}