.primary-section {
  padding: 96px 0 20px;
  background-color: #eff0f1;
}

.info-panel {
  width: 74.158vw;
  display: flex;
  align-items: center;
  margin: 70px auto 0;
  font-size: 17px;
  color: rgba(0, 0, 0, 0.8);
  > * {
    margin-right: 30px;
  }
  dl {
    display: flex;
    margin: 0;
    dt {
      color: #000;
      margin-right: 10px;
    }
    dd {
      margin: 0 30px 0 0;
      &:last-child {
        margin: 0;
      }
    }
  }
}

.filter-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 37px;
}

.filter-switchers {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  font-size: 14px;
  li {
    margin-right: 4px;
    &:last-child{margin-right: 0;}
    &.active{
      span,
      a{box-shadow: 0 0 0 1px #a7a8a8;}
    }
    &:hover{
      color: rgba(0,0,0, 0.7);
    }
  }
  span,
  a{
    cursor: pointer;
    display: inline-block;
    padding: 12px 23px;
    transition: all 0.5s;
    color: #000;
    border-radius: 37px;
  }
}

.counter{
  font-size: 14px;
  color: rgba(0,0,0, 0.8);
}