.product-wrapper{
  display: flex;
  background-color: #eff0f1;
  padding-bottom: 80px;
  > *{
    width: 50%;
  }
 .product-slide-wrapper{
   background-color: #fff;
   padding: 136px 60px;
   img{
     width: 100%;
   }
   .slick-dots{
     left: 50%;
     transform: translateX(-50%);
     li.slick-active{
       button{
         background-color: #bebfbf;         
       }
     }
     button{
       background-color: #000;
     }
   }
 }
}

.product-description{
  padding:0 80px 20px;
}

.back-to{
  font-size: 14px;
  margin-bottom: 36px;
  em{
    font-size: 9px;
  }
}

.product-heading{
  position: relative;
  padding-bottom: 70px;
  margin-bottom: 60px;
  border-bottom: 1px solid #ddddde;
  .price{
    background-color: #000;
    padding: 10px 22px;
    font-size: 30px;
    line-height: 1;
    color: #fff;
    position: absolute;
    bottom: -20px;
    left: -103px;
    box-shadow: 0 0 0 20px #eff0f1;
    z-index: 999;
  }
}

.btn-set{
  display: flex;
  margin-bottom: 40px;
  > *{
    margin-right: 21px;
    font-size: 18px;
    &:last-child{
      margin-right: 0;
    }
  }
}